Ability to add to groups: 
<% if @button.button %>
    <a href="turn_off_button" class="btn btn-danger" role="button">Off</a>
<% else %>
    <a href="turn_on_button" class="btn btn-success" role="button">On</a>
<% end %>